#MainWindow QScrollArea
{
outline:none;
border:none;
}
QPushButton{
border:1px solid #aaaaaa;
border-radius:5px;
background:#dddddd;
padding:6px;
outline:none;
}
QPushButton:hover{
background:rgb(200,200,200);
}
QPushButton:pressed{
background:rgb(170,170,170);
color:rgb(250,250,250);
}
QPushButton:checked{
background:rgb(170,170,170);
color:rgb(250,250,250);
}
QComboBox
{
background:#aaaaaa;
border-color: #777777;
border-radius:2px;
height:20px;
}
QComboBoxdrop-down
{
border:0px;
}
